<phpunit
    bootstrap="Bootstrap.php"
    colors="true"
    backupGlobals="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./module/Application/tests/src/</directory>
        </testsuite>
        <testsuite name="Core Test Suite">
            <directory>./module/Core/tests/src/</directory>
        </testsuite>
        <testsuite name="Skel Test Suite">
            <directory>./module/Skel/tests/src/</directory>
        </testsuite>
    </testsuites>

    <!-- Code Coverage Configuration -->
    <filter>
        <whitelist>
            <directory suffix=".php">./module/Application/src/</directory>
            <directory suffix=".php">./module/Core/src/</directory>
            <directory suffix=".php">./module/Skel/src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="_reports/coverage" title="Modulo Application" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="_reports/logs/clover.xml"/>
        <log type="junit" target="_reports/logs/junit.xml" logIncompleteSkipped="false"/>
        <log type="testdox-text" target="_reports/testdox/executed.txt"/>
    </logging>
</phpunit>